<h1>Static#index</h1>
<div data-controller="images">
  <h3>Image should load beneath this</h3>
  <div id="image-here"></div>
  <h3>Image should load above this</h3>
  <span>
    Photo by <a href="https://unsplash.com/@guilhermebellotti?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Guilherme Bellotti</a> on <a href="https://unsplash.com/photos/y1Sgf0qeurs?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a>
  </span>
</div>